@import "main.scss";

.about{
    margin: 25px 0;
    &__title{
        font-size: 40px;
        font-weight: 900;
        margin: 20px 0px 0px 20px;
        background: $gradient-fullpalette;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__description{
        font-size: 20px;
        font-weight: 300;
        color: $secondary-color;
        padding: 30px 15px;
        text-align: justify;
        margin: 0;
    }
}