@import "main.scss";

.about{
    margin: 25px auto;
    max-width: 1300px;
    &__title{
        font-size: 35px;
        font-weight: 900;
        margin: 20px 0px 0px 20px;
        background: $gradient-fullpalette;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__description{
        font-size: 20px;
        font-weight: 300;
        color: $secondary-color;
        padding: 30px 15px;
        text-align: justify;
        margin: 0;
    }
}
@media (min-width: map-get($break-points, md)) {
    .about{

        &__title{
            padding-left: 8%;
        }
        &__description{
            padding: 5px 60px 5px 40px;
            font-size: 20px;
        }

    }
}
@media (min-width: map-get($break-points, lg)) {
    .about{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__title{
            width: 100%;
        }
        &__description{
            width: 35%;
        }
        &__additional-info{
            margin-top: 20px;
            width: 55%;
        }

    }
}