@import "main.scss";


.accordion {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
        
    &__header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width:90%;
        margin: 0 auto;
        padding: 0 15px;
        border: 1px solid $secondary-color;
    }
        & h3{
            font-size: 20px;
            font-weight: 900;
            background: $gradient-simple;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & svg{
            font-size: 30px;
            color: $primary-color;
        }
        &__element{
            margin:15px;
            padding-bottom: 10px;
            color: $secondary-color;
            font-size: 18px;
            text-align: justify;
            border-bottom: 1px solid $accent-color-melon;
            &:nth-child(2n){
                color: $tertiary-color;
            }
            &:last-child{
                border-bottom: none;
            }
        }
}


@media (min-width: map-get($break-points, lg)) {
    .accordion{
        &__header{
            padding: 0 40px;
        }
}
}