@import 'main.scss';

.footer{
    padding-top: 20px;

    &__text{
        font-family: $primary-font;
        margin:0;
        color: $secondary-color;
        text-align: center;
        padding: 15px 20px;
    }
}
