@import "main.scss";

.header{
    height: 100vh;
    background: $gradient;


    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:90%;
        height: 100%;
        color: white;
        margin-left: 5%;
    }
    &__subtitle{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: justify;
        letter-spacing: 1px;
    }

}