@import "main.scss";

.header{
    height: 100vh;
    background: $gradient;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:90%;
        height: 100%;
        color: white;
        margin-left: 5%;
    }
}