@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$primary-font: 'Mulish', sans-serif;
$stronger-font: 'Roboto', sans-serif;

$bacground-color: #fff;
$primary-color: #FC7BE9;
$secondary-color: #555BFE;
$tertiary-color: #D061FC;
$accent-color-cyan: #51FEE9;
$accent-color-melon: #FFC9BB;


.gradient {
    background: linear-gradient(90deg, $primary-color 0%, $secondary-color, $tertiary-color 100%);
}

body {
    font-family: $primary-font;
    font-size: 1rem;
    line-height: 1.5;
    color: $primary-color;
    background-color: $bacground-color;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}


