@import 'main.scss';

.other-technologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__group{
        margin: 0;
    }
    &__group-name{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: map-get($break-points, md)) {
    .other-technologies{
        justify-content: center;
        align-items: stretch;
    }
}
@media (min-width: map-get($break-points, lg)){
    .other-technologies{
        background-color: $background-color;
    }
}
