@import 'main.scss';

.other-technologies{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    &__group-name{
        margin: 10px 20px;
        border-bottom: 1px solid $tertiary-color;
        color: $tertiary-color;
        font-size: 20px;
    }
}
@media (min-width: map-get($break-points, md)) {
    .other-technologies{
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        &__group{
            width: 32%;
        }
    }
}
@media (min-width: map-get($break-points, lg)){
    .other-technologies{
        margin-top: 80px;
        justify-items: center;
        &__group{
            max-width: 450px;
        }
    }
}
