@import 'main.scss';

.projects-container{
    padding: 10px 0 20px;
    

    &__title{
        color: $secondary-color;
        margin: 0 auto 20px auto;
        padding-left: 8%;
        max-width: 1300px;
    }
}
