.space-one-element {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    &__img{
        height:100vh;        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &__container{
        background-color: rgba(255, 255, 255, 0.25);
        padding: 20px 10px;
        font-weight: 600;
        font-size: 20px;
    }
    &__close-button {

        }
    
 
    &__hd-button{
        position: absolute;
        right:10px;
        top:22px;
        
        }
    
    &__title{
        text-align: center;
        font-weight: 600;
        font-size: 23px;
    }
    &__date{
        text-align: center;
        font-size: 17px;

    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;   
    font-size: 17px; }
    &__label{
            }
    &__input{
        background-color: transparent;
        margin: 0;
        padding: 5px 10px;        
        border-radius: 0;
        box-shadow: none;
        border: 1px solid black;
    }
    &__submit-button{
        
    }
    &__explanation{
        text-align: justify;
        padding:10px;
        
    }
}
.space-button{
    background-color: transparent;
    padding: 5px 10px;        
    border-radius: 0;
    box-shadow: none;
    border: 2px solid black;
    font-weight: 600;
}